/* .App {
  text-align: center;
} */
.search-bar {
  /* height: 44px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #fff; */
  /* display: flex;
  justify-content: ; */
  position: relative;
  top: 100px;
  width: 100%;
}
/* .input:not(:placeholder-shown) + .label {
  font-size: 9px;
  top: 3px;
  color: #00c853;
}

.input:focus ~ .label {
  font-size: 9px;
  top: 3px;
  color: #4279a3;
  transition: all 0.5s ease;
} */
.search-btn {
  background: #4279a3;
  border-radius: 20px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: center;
  cursor: pointer;

  position: absolute;
  transition: all 1s ease;
  position: absolute;
  top: 3px;
  right: 155px;
}

/* .icon {
  display: inline-flex;
} */

/* .icon-18 {
  width: 18px;
  height: 18px;
} */
.search-button {
  background: #4279a3;
  border: none;
  outline: none;
  width: 30px;
  border-radius: 20px;
}
.search-button > .fa-search {
  background: #4279a3;
  color: #fff;
  border-radius: 20px;
}

.input {
  border: 1px solid black;
  height: 35px;
  width: 400px;
  color: #1b1b1b;
  font-size: 15px;
  border-radius: 5px;
  /* position: relative; */
  /* outline: none; */
}
.img-container {
  position: relative !important;
  top: 150px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal {
  background: #fff;
}
.img-gallery img {
  cursor: pointer;
}
